
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- nav -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <div class="navbar-brand" >{{ title }}</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/register">Register</a>
          </li>   
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/product">Product</a>
          </li> 
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/restaurant">Restaurant</a>
          </li>    
        </ul>
      </div>  
    </nav>
    <br>

    
 
    <!-- main content container -->
    <div class="jumbotron">
      <div class="container">
        <!-- jQuery -->
     <!-- Bootstrap JavaScript -->
          <div class="row">
              <div class="col-md-12">
                  <router-outlet></router-outlet>
              </div>
          </div>
      </div>
    </div>
  </body>
</html>

