 
  
  <div class="table-responsive  content-bg">
    <h2>المنتجات </h2>
    
    
    
    <table class="table table-striped" >
        <thead>
          <tr>
            <th>كود الصنف</th>
            <th>الاسم</th>
            <th>السعر</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td><img class="imgStyle"  src="{{ product.imageUrl }}" />
            </td>
          </tr>          
        </tbody>
      </table>
  </div>
