 
  
  <div class="table-responsive  content-bg">
    <h2>المنتجات </h2>
    
    
    
    <table class="table table-striped" >
        <thead>
          <tr>
            <th>كود الصنف</th>
            <th>الاسم</th>
            <th>السعر</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1010101000018</td>
            <td>برغر مع جبن</td>
            <td>26.00 رس</td>
          </tr>
          <tr>
            <td>1010333000018</td>
            <td>بيتزا خضراوات</td>
            <td>16.00 رس</td>
          </tr>
          <tr>
            <td>1010101034518</td>
            <td>شوربة ذرة</td>
            <td>11.00 رس</td>
          </tr>
        </tbody>
      </table>
  </div>
