<div class="container-fluid content-bg">
  <h2>المطاعم </h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>الاسم</th>
          <th>الرابط</th>
          <!-- <th>الصورة</th> -->
          <th>الصورة</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurant of restaurants">
          <td>{{restaurant.name}}</td>
          <td lang="en" dir="ltr" style="text-align: left;">
            <a class="nav-link" href="{{restaurant.Url}}">{{restaurant.Url}}</a>
          </td>
          <!-- <td>{{restaurant.imageUrl}}</td> -->
          <td> <img class="imgStyle" src="{{restaurant.imageUrl}}" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
